{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Balance{% endblock %}</h1>
{% endblock %}

{% block content %}

<table>
	<thead>
		<tr>
			<th>Product</th>
			<th>Warehouse</th>
			<th>Qty</th>
		</tr>
	</thead>
	<tbody>
		{% for row in rows %}
		<tr>
			<td>
				<a href="{{ url_for('products.detail',
					product_id=row[0].id) }}">
					{{ row[0].name }}
				</a>
			</td>
			<td>
				<a href="{{ url_for('locations.detail',
					location_id=row[1].id) }}">
					{{ row[1].name }}
				</a>
			</td>
			<td>
				{{ row[2] }}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
