<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% block title %}{% endblock %} Inventory Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <div class="container">
    <nav>
      <h2>Inventory Manager</h2>
      <ul>
        <li><a href="{{url_for('index')}}">Balance</a></li>
        <li><a href="{{url_for('products.list')}}">Products</a></li>
        <li><a href="{{url_for('locations.list')}}">Locations</a></li>
        <li><a href="{{url_for('product_movements.list')}}">Product Movements</a></li>
      </ul>
    </nav>
    <main>
      <header>
        {% block header %}{% endblock %}
      </header>
      {% block content %}{% endblock %}
    </main>
  </div>
</body>

</html>
