{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Location List{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('locations.list') }}" method="POST">
	<label for="name">Name : </label>
	<input type="text" name="name" id="name"/>
	<input type="submit" value="Add location" />
</form>
<ul>
	{% for location in locations %}
	<li> <a href="{{ url_for('locations.detail', location_id=location.id) }}">{{location.id}}</a> </li>
	{% endfor %}
</ul>

{% endblock %}
