{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Movement Details{% endblock %}</h1>
{% endblock %}

{% block content %}

<table>
  <tr>
    <th>Id</th>
    <td>{{ product_movement.id }}</td>
  </tr>
  <tr>
    <th>Time</th>
    <td><time datetime="{{ product_movement.timestamp }}"></time></td>
  </tr>
  <tr>
    <th>Name</th>
    <td>{{ product_movement.product.name }}</td>
  </tr>
  <tr>
    <th>Qty</th>
    <td>{{ product_movement.qty }}</td>
  </tr>
  <tr>
    <th>From</th>
    <td>{{ product_movement.from_location.name }}</td>
  </tr>

  <tr>
    <th>To</th>
    <td>{{ product_movement.to_location.name }}</td>
  </tr>
</table>

{% endblock %}
