.container {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
a:link,
a:visited {
  border-bottom: 1px dotted black;
}
a:hover {
  border-bottom: 1px solid black;
}
a:active {
  font-weight: bold;
}

/*************
*  flashes  *
*************/

.flashes {
  list-style: none;
}
.error {
  color: red;
}

/****************
*  navigation  *
****************/
nav {
  margin-right: 3rem;
}
nav ul {
  list-style: square;
  color: gray;
}

/*******************
*  Balance Table  *
*******************/

table,
th,
td {
  border: 1px solid black;
}
td {
  height: 2rem;
}
table {
  border-collapse: collapse;
}
