body {
  display: flex;
}
a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
a:link,
a:visited {
  border-bottom: 1px dotted black;
}
a:hover {
  border-bottom: 1px solid black;
}
a:active {
  font-weight: bold;
}
nav a{
	color: gray;
}

nav {
  display: block;
  order: 1;
  margin-right: 3em;
}

nav ul {
  list-style: square;
}

main {
  order: 2;
}

/*******************
*  Balance Table  *
*******************/

table,
th,
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
